@media (max-width: 600px) {
    .products {
        display: inherit;
        height: auto;
    }
    .product {
        margin-top: auto;
    }
    .main_section {
        padding: 4%;
    }
}

@media (min-width: 610px) and (max-width: 950px) {
    .product {
        margin-top: -200px
    }
}